/*font-style*/

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/*shared style*/
.section-align{
    text-align: center;

}

.footer-work{
    color: rgba(255, 255, 255, 1);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
/*header styles*/
.header{
 background-image:linear-gradient(180.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 90%), url('./resources/Banner\ Image.png');
 border-radius: 16px;
   background-repeat: no-repeat;
   background-size: contain;
   border-radius: 16px;
  background-position: center;
   justify-self: center;
   margin-top: 50px;
}
.header-class{


    padding: 177px 340px 200px 340px;
    
}

.header-title{
    color: rgba(255, 255, 255, 1);
font-size: 32px;
font-weight: 400;
}
.header-sub-title{
    color: rgba(255, 255, 255, 1);
font-size: 72px;
font-weight: 900;
}

/*holiday-deals-styles*/
.holiday-deals-section{
    margin-top: 100px;
    justify-items: center;
}
.holiday-deals{
    color: rgba(255, 0, 0, 1);
font-size: 88px;
font-weight: 700;
}
.holiday-deals-title{
    color: rgba(255, 0, 0, 1);
font-size: 24px;
font-weight: 500;
}
.holiday-deals-sub-title{
    color: rgba(7, 2, 17, 1);
font-size: 48px;
font-weight: 700;
}

/*midnight styles*/
.midnight-section a{
text-decoration: none;
color: rgba(255, 255, 255, 1);
font-size: 20px;
font-weight: 700;
}
.midnight-section{
    margin-top: 120px;
    background-image: url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    background-position:center;
}
.midnight-div-one{
    width:600px;
    margin-right:40px;
    margin-left: 126px;
    margin-top: 126px;
}
.midnight-div-two{
    margin: 69px 138px;
}

.midnight-greetings{
    color: rgba(255, 255, 255, 1);
font-size: 64px;
font-weight: 900;
}
.midnight-description{
    color: rgba(255, 255, 255, 0.8);
font-size: 18px;
font-weight: 400;
text-align: left;
}

/*meeting-section*/
.meeting-section{
    text-align: center;
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
width: 1320px;
height:480px;
background-position: center;
align-content: center;
margin-top: 120px;
justify-self: center;
}
.meeting-place,.meeting-date,.meeting-time{
    color:rgba(7, 2, 17, 1);
    font-size: 32px;
font-weight: 600;
}
.meeting-button{
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
background: rgba(255, 0, 0, 1);
font-size: 20px;
font-weight: 700;
}

/*best-offer-section*/
.best-offer-section{
    margin-top: 120px;;
    display: flex;
    justify-self: center;
}
.best-offer-div-one{
    display: flex;
  margin-right: 118px;
}
.best-offer-one{
    color: rgba(7, 2, 17, 1);
    width: 393px;
font-size: 48px;
font-weight: 900;
margin-right: 70px;
}
.best-offer-three{
    width:270px;
}

.best-offer-two{
    border-radius: 190px;
    box-sizing: border-box;
border:15px solid rgba(255, 0, 0, 1);
}
.offer-title{
    color: rgba(255, 0, 0, 1);
font-size: 24px;
font-weight: 500;
}

.offer-sub-title{
    color: rgba(7, 2, 17, 1);
font-size: 48px;
font-weight: 900;
}

.offer-description{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
}
.offer-year{
    color: rgba(255, 0, 0, 1);
font-size: 48px;
font-weight: 700;
}

/*holiday-sale section*/
.holiday-sale{
    margin-top: 120px;
}
.holiday-sale-sub-title{
color: rgba(7, 2, 17, 1);
font-size: 24px;
font-weight: 500;
}
.holiday-sale-title{
font-size: 72px;
font-weight: 900;
}
.holiday-sale-description{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 500;
}
.holiday-sale-div{
    text-align: center;
}

.group-one{
  justify-self: center; 
  position: relative; 
  
}
.group-sub-one{
  

}

.group-two{
    justify-self: center;
}

/*gift-item styles*/
.gift-title{
    color: rgba(255, 0, 0, 1);
font-size: 24px;
font-weight: 500;
}
.gift-sub-title{
    color: rgba(7, 2, 17, 1);
font-size: 48px;
font-weight: 900;
}
.gift-description{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
}
.gift-item-div{
    text-align: left;
    justify-self: center;
}
.gift-item-section{
    margin-top: 120px;
}
.gift-items{
    justify-self: center;
}
 td{
    padding-right: 24px;
    padding-top: 22px;
    }

    /*subscribe-section*/
    .subscribe-section{
        margin-top:120px;
        justify-items: center;
        text-align: center;
        
    }
    .subscribe-form{
        border-radius: 50px;
background: rgba(255, 255, 255, 1);
gap: 0px;
    }
    .subscription-text{
        padding:25px 267px 25px 30px;
    }
    .subscription-button{
        border-radius: 0px 50px 50px 0px;
        background-color: rgba(255, 0, 0, 1);
        color: white;
        text-align: center;
        padding:25px 50px;
       
    }
/*footer*/
    .footer{
        display: flex;
        justify-content: space-between;
    }

    .footer-one{
        margin: 120px 250px 25px 140px;
    }
    .footer-img{
        justify-self: center;
    }
    .footer-description{
        margin-left: 140px;
        margin-right: 140px;
        display: flex;
        justify-content: space-between;
    }
    .footer-section{
        margin-top: 120px;
        background-color:rgba(7, 2, 17, 1);
    }
    .footer-two{
    
        margin-top: 120px;
        margin-right: 290px;
    }
 hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
 }

